.errorBoundary {
	overflow-y: scroll;
	overflow-wrap: break-word;
	background: white;
	color: #a21;
	white-space: pre-wrap;
	outline: solid 4px #a21;
	padding: 1em;
}

	.errorBoundary-heading {
		font-size: larger;
		font-weight: bold;
		margin: 1em 0;
	}

	.errorBoundary-error {
		margin: 1em 0;
		font-weight: bold;
	}
