@import '~common/styles/colors';
@import '~common/styles/dimensions';
@import '~common/styles/fonts';


$dimen-cellSize: $dimen-graph-cell-size;

$dimen-cellLineStart: $dimen-cellSize - 1px;
$dimen-cellLineEnd: $dimen-cellSize;

$dimen-panelWidth: $dimen-cellSize * 4;

$color-gridLine: rgba($color-brand-primary, 0.2);


.formulaEditor {
	flex: 1 0 auto;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	overflow-x: hidden;
}
	.formulaEditor-toolbar {
		flex: 0 0 $dimen-toolbar-size;
		border-bottom: solid 1px $color-divider;
	}

	.formulaEditor-graph {
		flex: 1 0 auto;
		display: flex;
		flex-flow: row nowrap;
		overflow-x: auto;
		align-items: stretch;
	}
		.formulaEditor-graph-panel {
			flex: 0 0 $dimen-panelWidth;
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: 40px;
			z-index: 100;
			line-height: $dimen-graph-cell-size;
		}
			.formulaEditor-graph-panel-heading {
				padding: 0 $dimen-keyline-padding / 2;
				@include font-title;
				color: $color-text-disabled;
				text-transform: capitalize;
				grid-row: 1 / span 2;
				line-height: $dimen-graph-cell-size * 2;
			}

			.formulaEditor-graph-inputPanel-heading {
				align-items: flex-end;
			}

		.formulaEditor-graph-inputPanel {
			border-right: solid 1px $color-gridLine;
		}

		.formulaEditor-graph-grid {
			flex: 0 0 $dimen-cellSize * 6;
			display: flex;
			flex-flow: column nowrap;
			position: relative;
			background:
				repeating-linear-gradient(
					transparent,
					transparent $dimen-cellLineStart,
					$color-gridLine $dimen-cellLineStart,
					$color-gridLine $dimen-cellLineEnd
				),
				repeating-linear-gradient(
					90deg,
					transparent,
					transparent $dimen-cellLineStart,
					$color-gridLine $dimen-cellLineStart,
					$color-gridLine $dimen-cellLineEnd
				);
		}
			.formulaEditor-graph-grid-wires {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}

			.formulaEditor-graph-grid-nodes {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}

	.formulaEditor-nodeMenu {
		z-index: 200;
		position: absolute;
		right: $dimen-keyline-padding;
		bottom: $dimen-keyline-padding;
	}
