@import '~common/styles/mixins';

.fab {
	@include elevation( 6px );

	width: 56px;
	height: 56px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	border-radius: 50%;
	
	font-size: 24px;
	color: white;
	
	border: solid;
	
	border-width: 1px 0 1px;
	
	border-color: rgba( 255, 255, 255, 0.5 ) transparent rgba( 0, 0, 0, 0.3 );
}
	.fab.is-disabled {
		color: rgba( 255, 255, 255, 0.5 );
	}
