@import '~common/styles/colors';
@import '~common/styles/dimensions';


.toolButton {
	flex: 0 0 $dimen-toolbar-size;
	user-select: none;
	font-size: 24px;
	font-family: Material Icons;
	color: $color-text-primary;
}

.toolButton.is-disabled {
	color: $color-text-disabled;
}

.mod-inverted .toolButton {
	color: $color-text-primary-inverted;
}

.mod-inverted .toolButton {
	color: $color-text-disabled-inverted;
}
