@import '~common/styles/colors';
@import '~common/styles/dimensions';
@import '~common/styles/fonts';
@import '~common/styles/mixins';


$row-height: $dimen-graph-cell-size;

.nodeCard {
	@include elevation( 2px );
	@include font-body1;
	line-height: $row-height;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 40px;
	flex-flow: column nowrap;
}
	.nodeCard-row {
		padding: 0 $dimen-keyline-padding / 2;
		display: flex;
		flex-flow: row nowrap;

	}

	.nodeCard-headerRow {
		display: flex;
		flex-flow: row nowrap;
	}
		.nodeCard-headerRow-name {
			flex: 1 0 auto;
			@include font-body2;
		}

.errorNodeCard {
	border: solid 1px $color-red-700;
	color: $color-red-900;
}

	.errorNodeCard-messageRow {
		line-height: 1.4;
	}
