$dimen-keyline-padding: 24px;
$dimen-keyline-content: 80px;

$dimen-touchTarget-size: 48px;

$dimen-listItem-size: 36px;

$dimen-toolbar-size: 64px;

$dimen-icon-size: 24px;

$dimen-graph-cell-size: 40px;
