@mixin elevation( $elevation ) {
	$key-distance: $elevation * ( 39 / 24 );
	$key-size:     $elevation * ( 60 / 24 );

	$ambient-distance: $elevation * ( 15 / 24 );
	$ambient-size:     $elevation * ( 81 / 24 );

	box-shadow:
		0 $key-distance     $key-size     6px rgba( 0, 0, 0, 0.24 ),
		0 $ambient-distance $ambient-size 2px rgba( 0, 0, 0, 0.16 );
}
