.toolbar {
	flex: 0 0 64px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	background: #fafafa;
}
	.toolbar-title {
		flex: 1 0 auto;
		font-size: 20px 500;
		font-weight: 500;
	}
