@import '~common/styles/colors.scss';
@import '~common/styles/dimensions.scss';


$dimen-toolbar-padding: $dimen-keyline-padding - (( $dimen-toolbar-size - $dimen-icon-size ) / 2 );
$dimen-title-margin: $dimen-keyline-padding - $dimen-toolbar-padding;
$dimen-title-margin-afterNav: $dimen-keyline-content - ( $dimen-toolbar-size + $dimen-toolbar-padding );


.toolbar {
	flex: 0 0 64px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	background: #fafafa;
	padding: 0 $dimen-toolbar-padding;
	font-size: 20px;
	color: $color-text-primary;
}

.toolbar.mod-inverted {
	color: $color-text-primary-inverted;
}
	.toolbar-nav {
		margin-right: $dimen-keyline-content - $dimen-toolbar-size;
	}

	.toolbar-title {
		flex: 1 0 auto;
		align-self: center;
		margin: 0 $dimen-title-margin;
		font-size: 20px;
		font-weight: 500;
	}

	.toolbar-nav + .toolbar-title {
		margin: 0 $dimen-title-margin-afterNav;
	}
