@import '~common/styles/colors';
@import '~common/styles/dimensions';
@import '~common/styles/fonts';


.treeView-item {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	@include font-body1();
}
	.treeView-item-body {
		flex: 0 0 $dimen-listItem-size;
		display: flex;
		flex-flow: row nowrap;
		padding: 0 $dimen-keyline-padding;
		align-items: center
	}

	.treeView-item-body:hover {
		background: $color-black-alpha-12;
	}
		.treeView-item-body-icon {
			flex: 0 0 $dimen-icon-size;
			font-size: $dimen-icon-size;
			font-family: Material Icons;
			color: $color-icon-active;
			transform: rotate( -90deg );
		}

		.treeView-item-body-title {
			margin-left: $dimen-keyline-content;
			flex: 1 0 auto;
		}

		.treeView-item-body-icon + .treeView-item-body-title {
			margin-left: $dimen-keyline-content - ( $dimen-keyline-padding + $dimen-icon-size );
		}

	.treeView-item-children {
		padding-left: $dimen-keyline-padding;
		display: flex;
		flex-flow: column nowrap;
	}
