@import "~common/styles/fonts";

.treeView {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;

  overflow-y: auto;
  padding: 8px 0;
  user-select: none;
  cursor: pointer;

  &-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    @include font-body1;

    &-body {
      flex: 0 0 auto;
    }

    &-children {
      padding-left: 16px;
      display: flex;
      flex-flow: column nowrap;
    }
  }
}
