@import '~common/styles/colors';
@import '~common/styles/dimensions';


@grid-cell-size: @dimen-cell-size;
@grid-horizontal-padding: @dimen-keyline-padding;
@grid-vertical-padding: 8px;


@page-column-count: 16;
@page-row-count: 22;
@page-width:  ( @page-column-count * @grid-cell-size ) + ( @grid-horizontal-padding * 2 );
@page-height: ( @page-row-count    * @grid-cell-size ) + ( @grid-vertical-padding   * 2 ) + 32px;


@card-column-count: 6;
@card-row-count: 8;
@card-width:  ( @card-column-count * @grid-cell-size ) + ( @grid-horizontal-padding * 2 );
@card-height: ( @card-row-count    * @grid-cell-size ) + ( @grid-vertical-padding   * 2 );
@card-radius: 4px;


.grid {
	box-shadow: 0 2px 4px @color-shadow;
	margin: 8px;
	padding: @grid-vertical-padding @grid-horizontal-padding;
	flex-grow: 0; flex-shrink: 0;
	background: @color-grey50;

	display: flex;
	flex-flow: column nowrap;

	line-height: @grid-cell-size;

	&.page {
		width: @page-width;
		height: @page-height;
		flex-basis: @page-height;
	}

	&.card {
		border-radius: @card-radius;
		width: @card-width;
		height: @card-height;
		flex-basis: @card-height;
	}

	header {
		font-weight: bold;
	}

	.cell-area {
		flex-grow: 1;
		position: relative;
	}
}
