* {
	padding: 0; margin: 0;
	box-sizing: border-box;
	outline: none;
}

article, aside, body, div, footer, header, hgroup, nav, section {
	display: flex;
	flex-flow: column nowrap;
}

ul, ol {
	display: flex;
	flex-flow: column nowrap;
	list-style: none;
	padding-left: 0;
}

menu[type="toolbar"] {
	display: flex;
	flex-flow: row nowrap;
	
	list-style: none;
}

button {
	-webkit-appearance: none;
	border: none;
	background: none;
	cursor: pointer;
}