@import "~common/styles/colors";
@import "~common/styles/dimensions";
@import "~common/styles/fonts";

$row-height: $dimen-graph-cell-size;

.pin {
  position: absolute;
  width: $dimen-pin-size;
  height: $dimen-pin-size;
  border-radius: 50%;
  border: solid thin $color-black-alpha-38;
  background: $color-grey-400;
  content: " ";
}
