@import '~common/styles/colors';
@import '~common/styles/dimensions';
@import '~common/styles/fonts';


.menuBar {
	@include font-body2;

	flex: 10000 0 auto;
	display: flex;
	flex-flow: row nowrap;
	padding: 0 $dimen-keyline-padding / 2;
	align-items: center;
	line-height: 32px;
}

	.menuBar-item {
		flex: 0 0 auto;
		padding: 0 $dimen-keyline-padding / 2;
		border-radius: 2px;
	}

	.menuBar-item:hover {
		background: $color-hover;
	}

	.mod-inverted .menuBar-item:hover {
		background: $color-hover-inverted;
	}
