.errorBoundary {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  overflow-wrap: break-word;
  white-space: pre;
  background: white;
  color: #a21;
  outline: solid 4px #a21;
  padding: 1em;
  min-width: 16em;
  min-height: 6em;

  &-heading {
    font-size: larger;
    font-weight: bold;
    margin: 1em 0;
  }

  &-error {
    margin: 1em 0;
    font-weight: bold;
  }
}
