@import "~common/styles/colors";
@import "~common/styles/dimensions";

.toolButton {
  flex: 0 0 auto;
  padding: 8px;
  align-self: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 14px;
  font-weight: 500;
  color: $color-text-primary;

  &.mod-link {
    text-decoration: inherit;
  }

  &.is-disabled {
    color: $color-text-disabled;
  }
}
