@import '~common/styles/colors';
@import '~common/styles/dimensions';


$dimen-cellSize: $dimen-graph-cell-size;

$dimen-cellLineStart: $dimen-cellSize - 1px;
$dimen-cellLineEnd: $dimen-cellSize;

$dimen-panelWidth: $dimen-cellSize * 4;

$color-gridLine: rgba( $color-brand-primary, 0.2 );


.graphEditor {
	flex: 1 0 auto;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	overflow-x: hidden;
}
	.graphEditor-toolbar {
		flex: 0 0 $dimen-toolbar-size;
		border-bottom: solid 1px $color-divider;
	}

	.graphEditor-graph {
		flex: 1 0 auto;
		display: flex;
		flex-flow: row nowrap;
		overflow-x: auto;
		align-items: stretch;
	}
		.graphEditor-graph-panel {
			flex: 0 0 $dimen-panelWidth;
			display: flex;
			flex-flow: column nowrap;
			z-index: 100;
		}
			.graphEditor-graph-panel-heading {
				line-height: $dimen-graph-cell-size;
				padding: 0 $dimen-keyline-padding / 2;
				font-size: 13px;
				font-weight: 500;
				text-transform: capitalize;
			}

			.graphEditor-graph-inputPanel-heading {
				align-items: flex-end;
			}

		.graphEditor-graph-inputPanel {
			border-right: solid 1px $color-gridLine;
		}

		.graphEditor-graph-outputPanel {
			border-left: solid 1px $color-gridLine;
		}

		.graphEditor-graph-grid {
			flex: 1 0 $dimen-cellSize * 6;
			display: flex;
			flex-flow: column nowrap;
			width: 0; // Needed for overflow scrolling to work ???
			position: relative;
			background:
				repeating-linear-gradient(
					transparent,
					transparent $dimen-cellLineStart,
					$color-gridLine $dimen-cellLineStart,
					$color-gridLine $dimen-cellLineEnd
				),
				repeating-linear-gradient(
					90deg,
					transparent,
					transparent $dimen-cellLineStart,
					$color-gridLine $dimen-cellLineStart,
					$color-gridLine $dimen-cellLineEnd
				);
		}
			.graphEditor-graph-grid-wires {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}

			.graphEditor-graph-grid-nodes {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}

	.graphEditor-fab {
		background: $color-brand-primary;
		position: absolute;
		right: $dimen-keyline-padding;
		bottom: $dimen-keyline-padding;
	}

	.graphEditor-nodeMenu {
		z-index: 200;
		position: absolute;
		right: $dimen-keyline-padding;
		bottom: $dimen-keyline-padding;
	}
