$dimen-keyline-padding: 24px;
$dimen-keyline-content: 80px;

$dimen-touchTarget-size: 48px;

$dimen-listItem-size: 36px;

$dimen-toolbar-size: 56px;

$dimen-icon-size: 24px;

$dimen-graph-cell-size: 40px;

$dimen-boundary-size: $dimen-graph-cell-size * 4;

$dimen-pin-size: 14px;
