@mixin font-display4() {
  font-size: 112px;
  font-weight: 300;
}

@mixin font-display3() {
  font-size: 56px;
  font-weight: 400;
}

@mixin font-display2() {
  font-size: 45px;
  font-weight: 400;
}

@mixin font-display1() {
  font-size: 34px;
  font-weight: 400;
}

@mixin font-headline() {
  font-size: 24px;
  font-weight: 400;
}

@mixin font-title() {
  font-size: 20px;
  font-weight: 500;
}

@mixin font-subheading() {
  font-size: 15px;
  font-weight: 500;
}

@mixin font-body2() {
  font-size: 13px;
  font-weight: 500;
}

@mixin font-body1() {
  font-size: 13px;
  font-weight: 400;
}

@mixin font-caption() {
  font-size: 12px;
  font-weight: 400;
}

@mixin font-button() {
  font-size: 14px;
  font-weight: 500;
}
