@import "~/common/styles/colors";
@import "~/common/styles/dimensions";
@import "~/common/styles/fonts";

.Sidebar {
  background: white;
  border-right: solid thin $color-divider;

  &-tree {
    padding: 8px 0;
  }

  &-header {
    display: grid;
    align-content: flex-end;
    grid-template:
      ".     collapse" 1fr
      "title menu    " auto / 1fr 48px;

    background: $color-lightGreen-800;
    color: $color-white-alpha-70;
    flex: 0 0 180px;

    &-name {
      @include font-title();
      grid-area: title;
      padding: 16px $dimen-keyline-padding;
    }
  }

  &-item {
    height: $dimen-listItem-size;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 12px;
    align-items: center;
    color: inherit;
    text-decoration: inherit;

    &.is-selected {
      font-weight: bold;
    }

    &:hover {
      background: $color-black-alpha-12;
    }

    &-icon {
      flex: 0 0 $dimen-icon-size;
      font-size: $dimen-icon-size;
      font-family: Material Icons;
      opacity: 0.6;

      &.is-selected {
        opacity: 0.8;
      }

      &.mod-dropdown {
        transform: rotate(-90deg);
        transition: transform 120ms;
      }

      &.mod-dropdown.is-expanded {
        transform: none;
      }
    }

    &-title {
      flex: 1 0 auto;
      margin-left: 12px;
    }
  }
}
