@import '~components/common/Color';



.function-node {
	transition: 100ms linear box-shadow;

	position: absolute;
	
	display: flex;
	flex-flow: column nowrap;
	
	background: white;
	border-radius: 4px;
	box-shadow: 0 4px 4px @color-shadow;
	
	user-select: none;
	cursor: grab;
	
	&.dragging {
		visibility: hidden;
	}

	&.selected {
		box-shadow:
			0 0 0 2px @color-primary,
			0 8px 12px @color-shadow;
		header {
			color: @color-primary;
		}
		z-index: 100;
	}
	
	header, .input, .output {
		flex-basis: 40px;
		min-width: 160px;
		
		padding: 0 16px;
		
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}
	
	header {
		display: flex;
		align-items: center;
		
		font-size: 13px;
		font-weight: 600;
		color: @color-text-secondary;
	}
	
	.output {
		flex-flow: row-reverse nowrap;
		position: relative;
		font-size: 13px;

		.value {
			margin-right: 8px;
			color: @color-text-disabled;
		}
	}
	
	.input {
		flex-flow: row nowrap;
		position: relative;
		font-size: 13px;
		width: 160px;

		display: flex;
		flex-flow: row nowrap;

		.value {
			margin-left: 8px;
			flex: 1;
			white-space: nowrap;
			overflow: hidden;
			line-height: 2;
			color: @color-text-disabled;

			&:not([contenteditable="false"]) {
				padding-top: 2px;
				color: inherit;
				cursor: text;
				border-bottom: solid 2px @color-divider;
			}

			&:focus {
				border-color: @color-primary;
			}
		}
	}
}
