@import '~common/styles/colors';
@import '~common/styles/dimensions';
@import '~common/styles/fonts';


$appBackground: #f5f5f5;
$appText: rgba( #fff, 0.87 );

$appbarBackground: $color-primary;
$appbarText: #ffffff;


.editor {
	background: $appBackground;
	color: $appText;
}
	.editor-appbar {
		color: $appbarText;
		box-shadow: 0 2px 4px $color-shadow;
		background: $appbarBackground;
	}
