@import '~common/styles/colors';
@import '~common/styles/dimensions';


$color-editor-background: $color-grey-100;
$color-appbar-background: $color-brand-primary;


.editor {
	background: $color-editor-background;
	color: $color-text-primary;
}
	.editor-appbar {
		box-shadow: 0 2px 4px $color-shadow;
		background: $color-appbar-background;
	}
