$dimen-errorCard-rowHeight: 40px;

.errorCard {
	display: flex;
	flex-flow: column nowrap;
}
	.errorCard-headerRow {
		flex: 1 0 $dimen-errorCard-rowHeight;
		display: flex;
		flex-flow: row nowrap;
	}
		.errorCard-headerRow-name {
			flex: 1 0 auto;
			font-size: 20px;
			font-weight: 500;
		}
	
	.errorCard-messageRow {
		flex: 1 0 $dimen-errorCard-rowHeight * 2;
		
	}
