@import "~common/styles/mixins";

.sheetView {
	background: white;
	display: flex;
	flex-flow: column nowrap;

	@include elevation(4px);
}

	.sheetView-header {
		flex: 0 0 40px;
		background: none;
	}

	.sheetView-grid {
		flex: 1 0 0;
		display: grid;
		grid-auto-columns: 40px;
		grid-auto-rows: 40px;
	}

		.sheetView-grid-cell {
			outline: solid thin red;
		}

		.sheetView-grid-cell.mod-input {
			border-bottom: solid 4px blue;
		}