@import "~common/styles/colors";

.wire {
  z-index: -100;
  position: absolute;

  left: 120px;
  top: 120px;
  right: calc(100% - 160px);
  bottom: calc(100% - 160px);
  min-width: 6px;
  min-height: 6px;

  fill: none;

  stroke: $color-brand-primary;
  stroke-width: 3px;

  vector-effect: non-scaling-stroke;
}
