@mixin elevation($elevation) {
  $key-distance: $elevation * 11 / 12;
  $ambient-size: $elevation * 2 / 3;

  box-shadow: 0 $key-distance $elevation rgba(0, 0, 0, 0.26),
    0 0 $ambient-size rgba(0, 0, 0, 0.08);
}

.Card {
  @include elevation(2px);
  background: #fff;
  border-radius: 2px;
}
