* {
  padding: 0;
  margin: 0;
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Noto Sans", "Roboto Sans", sans-serif;
}

html,
body,
.root {
  height: 100vh;
}

article,
aside,
body,
div,
footer,
header,
hgroup,
main,
nav,
section,
ul,
ol {
  display: flex;
  flex-flow: column nowrap;
}

input,
button {
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
  min-width: 0;
  border: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

menu[type="toolbar"] {
  display: flex;
  flex-flow: row nowrap;

  list-style: none;
}

button {
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}
