@import "~common/styles/colors";
@import "~common/styles/dimensions";
@import "~common/styles/mixins";

.editor {
  flex: 1 0 100vh;
  background: $color-grey-200;
  color: $color-text-primary;

  display: grid;
  grid-template:
    "nav content" 1fr
    "status status" 26px / 320px auto;

  &-nav {
    grid-area: nav;
  }

  &-content {
    grid-area: content;
  }

  &-status {
    grid-area: status;
  }
}
