@import "~common/styles/colors";
@import "~common/styles/dimensions";
@import "~common/styles/mixins";

.editorPage {
  flex: 1 0 auto;
  background: $color-grey-200;
  color: $color-text-primary;

  &-appbar {
    flex: 0 0 $dimen-toolbar-size;
    @include elevation(4px);

    background: $color-brand-primary;
    z-index: 100;
  }

  &-document {
    flex: 1 0 auto;
    flex-flow: row nowrap;

    &-palette {
      flex: 0 0 320px;
    }

    &-content {
      flex: 1 0 0;
    }
  }
}
