@import './Color';
@import './Dimen';

menu[type="toolbar"] {
	flex-basis: @dimen-toolbar-size;
	flex-grow: 0;
	flex-shrink: 0;
	
	align-items: center;
	
	border-bottom: solid thin @color-divider;
	background: #fafafa;
	color: @color-icon-active;
	
	padding: 0 @dimen-keyline-padding / 2;
	
	> a {
		cursor: pointer;
		user-select: none;
	}
	
	.title {
		font-weight: 600;
		font-size: 20px;
	}
	
	> :not( .dropdown ) {
		padding: @dimen-keyline-padding / 2;
	}
	
	.path {
		font-size: 18px;
		color: @color-text-primary;
		
		a {
			padding-right: 8px;
			
			&::before {
				content: '/';
				padding-right: 8px;
				color: @color-text-disabled;
			}
		}
		
		a:last-child {
			color: @color-primary;
		}
	}
}