@import '~common/styles/colors';
@import '~common/styles/dimensions';
@import '~common/styles/fonts';


$row-height: $dimen-graph-cell-size;
$pin-size: 14px;

.pinRow {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	padding: 0 $dimen-keyline-padding / 2;
	@include font-body1;
}

	.pinRow-pin {
		position: absolute;
		top: ( $row-height - $pin-size ) / 2;
		width: $pin-size;
		height: $pin-size;
		border-radius: 50%;
		border: solid thin $color-black-alpha-38;
		background: $color-grey-400;
		content: ' ';
	}

	.pinRow-label {
		color: $color-text-secondary;
	}
	
	.pinRow-value {
		width: 0;
		flex: 1 0 0;
		text-align: right;
		margin-left: 16px;
		line-height: 1;
		border: none;
		border-bottom: solid 2px $color-black-alpha-12;
		padding: 6px 0 4px;
		color: $color-text-primary;
	}

	.pinRow-value:focus {
		border-color: $color-brand-primary;
	}

.srcPinRow {
	flex-direction: row-reverse;
}

	.srcPinRow-pin {
		right: -$pin-size / 2;
	}

.dstPinRow-pin {
	left: -$pin-size / 2;
}
