@import "~common/styles/dimensions";
@import "~common/styles/fonts";
@import "~common/styles/mixins";

.SheetView {
  background: #fff;
  display: flex;
  flex-flow: column nowrap;

  @include elevation(4px);

  &-header {
    @include font-subheading();
    flex: 0 0 40px;
    background: none;

    &-name {
      padding-left: $dimen-keyline-padding;
    }
  }

  &-grid {
    flex: 1 0 0;
    display: grid;
    grid-auto-columns: 40px;
    grid-auto-rows: 40px;
  }
}
